---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center">Esta pagina no existe...</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.licdn.com%2Fdms%2Fimage%2FC5612AQEPYce5KpNLyg%2Farticle-cover_image-shrink_720_1280%2F0%2F1551659700811%3Fe%3D2147483647%26v%3Dbeta%26t%3DO9mBMiF-V12jCRJwaBNDWLKNL8cku2QSoCXtKP3vCHg&f=1&nofb=1&ipt=810cdb8267fe24aaa122a6f476bf4cc6f7a0fd777dd1b0f8759b0f911554db23&ipo=images" />
    </div>


</Layout>